@font-face {
	font-family: 'Berlin';
	src: url('BRLNSDB.eot');
	src: local('☺'),
		url('BRLNSDB.woff') format('woff'),
		url('BRLNSDB.ttf') format('truetype'),
		url('BRLNSDB.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}